.video-wrapper {
  position: relative;

  .video {
    width: 75%;
    // max-height: 80vh;
    margin: 0 auto;
    border: solid thin white;
  }

  .spinner {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
}
