.btn {
  width: 120px;
  border-radius: 16px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-fill {
  width: 100%;
}

::ng-deep .mat-mdc-menu-panel {
  min-width: 320px !important;
  margin-top: 8px !important;
  margin-left: 8px !important;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-list-option {
  height: 64px !important;
}

.btn-square {
  width: 44px;
  height: 50px;
}

.btn-square > * {
  margin: 0;
}

.btn-square:first-child {
  border-right: 0;
  border-radius: 0;
}

.btn-square:last-child {
  border-radius: 0;
}
